span {
  color: var(--fuchsia);
}

.divisor {
  border-top: 1px solid var(--fuchsia);
  width: 15rem;
  height: 1px;
  margin-left: 1rem;
  margin-top: 5px;
}

.principal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}

.data-container {
  width: 70%;
  display: flex;
  align-items: center;
}
.about-me-container {
  width: 70%;
  font-size: 1.1rem;
  padding-left: 5rem;
}

.title-container{
  display: flex;
  align-items: center;
}

.img-container {
  width: 30%;
}

.img-container img {
  width: 100%;
  transition: 0.3s;
}

.img-container img:hover{
  transform: scale(1.1);
}

.skill-list {
  display: flex;
  gap: 5rem;
}

.skill-list li {
  list-style: none;
}

.arrow-icon {
  color:  var(--fuchsia);
}




