<div class="principal-container">
  <div class="data-container">
    <div class="img-container">
      <img src="../../../assets/img/stock_img/own_edit.png" alt="stock_img_1" />
    </div>
    <div class="about-me-container">
      <div class="title-container">
        <h2><span>></span> About me</h2>
        <div class="divisor"></div>
      </div>
      <p>
        Hi! I'm <span>JuanDi</span>, a dedicated programmer with expertise in
        <span>frontend</span> and <span>backend</span> development. I specialize
        in Angular, Java with Spring Boot, NestJS, and database systems like
        MySQL and Oracle. What truly sets me apart is my commitment to clean
        code and best practices, particularly the <span>SOLID</span> principles.
        I firmly believe that clean code is essential for maintainable and
        scalable applications.
      </p>
      <p>Here are some technologies I have been working with:</p>

      <div class="skill-list">
        <div class="skills-l">
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Angular</li>
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Springboot</li>
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Typescript</li>
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Javascript</li>
        </div>
        <div class="skills-r">
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Java</li>
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Sql</li>
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> MySql</li>
          <li><i class="fa-solid fa-caret-right arrow-icon"></i> Oracle</li>
        </div>
      </div>

      <p>
        Outside of work, I'm interested in following the developments of
        science. I also play a lot of video games.
      </p>
    </div>
  </div>
</div>
