<div class="main-container">
  <div class="data-container">
    <div class="presentation-container">
      <h1>Hi! <span>JuanDi</span> here...</h1>
      <p>
        Development student, a real lover of programming who never stops
        learning, I like javascript and I'm very interested in data science,
        movies, videogames and planning my own projects, I love music and I am
        always looking for opportunities to increase my curiosity.
      </p>
    </div>
    <div class="img-container">
      <img
        src="../../../assets/img/presentation/main-img1.jpg"
        alt="main-img"
      />
    </div>
    <div class="empty-container"></div>
  </div>
</div>
