<div class="main-container">
  <div class="data-container">
    <div class="presentation-container">
      <div class="typing-effect">Hi! <span>JuanDi</span> Here...</div>
      <p>
        Software developer, a real lover of programming who never stops
        learning, I like javascript and I'm very interested in data science,
        movies, videogames and planning my own projects, I love music and I am
        always looking for opportunities to increase my curiosity.
      </p>
      <div class="actions">
        <a href="#"><i class="fa fa-envelope"></i> Say Hi!</a>
        <a href="#"><i class="fa fa-download"></i> Download CV</a>
      </div>
    </div>
    <div class="img-container">
      <img
        src="../../../assets/img/presentation/main-img1.jpg"
        alt="main-img"
      />
    </div>
  </div>
</div>

<div class="down-arrow">
  <i class="fa fa-chevron-down"></i>
</div>
