.floating-menu {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.floating-menu-item {
  text-decoration: none;
  color: var(--fuchsia);
  font-size: 1.3rem;
  line-height: 2rem;
  transition: 0.3s;
}

.floating-menu-item:hover {
  color: var(--green);
}

.social-media {
  display: flex;
  color: var(--fuchsia);
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.social-media a {
  text-decoration: none;
  color: var(--fuchsia);
  transition: transform 0.3s;
}

.social-media a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

