.floating-menu {
  position: fixed;
  bottom: 10rem;
  right: 10rem;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.floating-menu-item {
  text-decoration: none;
  color: var(--fuchsia);
  font-size: 1.3rem;
  line-height: 2rem;
}
